.login-container{
    display: flex;
    height: 100%;
    .login-card{
        margin: auto auto;
        width:32rem;
        padding: 2rem;
        .login-header{
           justify-content: center;
        }
        .login-content{
            text-align: center;
        }
        .login-actions{
            direction: rtl;
        }
    }
}
